<div ng-controller="ReportsController">
    
            <div class="row-fluid">
        <div class="span12">
            <h2>Vehicle Speed Per Time (1 Day)</h2>
                <div class="demo-container">
            <div id="placeholder" class="demo-placeholder"></div>
        </div>
        </div>
        </div>
    

            <div class="row-fluid">
        <div class="span12">
            <h2>Fuel Consumption</h2>
                <div class="demo-container">
            <div id="fuelConsumptionChartContainer" class="demo-placeholder"></div>
        </div>
        </div>
        </div>

</div><!--/fluid-row-->
